header {
    height: 50px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.titulo {
    font-size: 25px;
    font-family: fantasy;
    padding: 10px;
    color: white;
    margin-left: 10px;
}

.botonReiniciar {
    position: absolute;
    left: 22px;
    top: 68px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(199, 50, 199);
    border: none;
    font-family: fantasy;
    color: white;
}